﻿@model  WebApplication1.Entidade.Usuario

@{
    ViewBag.Title = "Formulário";
}

<br />
@Html.ActionLink("Lista de Usuários", "Index", "Usuario", new { @class = "btn btn-primary" })
<br />
<br />

@using(Html.BeginForm("Adicionar", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <p>Adicionar Usuário</p>

    @Html.LabelFor(u => u.Nome, "Nome :")
    @Html.TextBoxFor(u => u.Nome, new { @class = "form-control"})
    @Html.ValidationMessageFor(u => u.Nome)

    @Html.LabelFor(u => u.Email, "Email: ")
    @Html.TextAreaFor(u => u.Email, new { @class = "form-control"})
    @Html.ValidationMessageFor(u => u.Email)

    <input type="submit" value="Enviar" />
}


