﻿@model  IList<WebApplication1.Entidade.Usuario>

@{
    ViewBag.Title = "Movimentação";
}

<br />
@Html.ActionLink("Adicionar", "Form", "Usuario", new {  @class = "btn btn-primary" })
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
            </tr>
        }
    </tbody>
</table>

