﻿<nav>
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Index", "Index", "Home")</li>
        <li>@Html.ActionLink("Movimentação", "Index", "Movimentacao")</li>
        <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>

        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Deslogar", "Deslogar", "Login")</li>
        }
        else
        {
            <li>@Html.ActionLink("Logar", "Index", "Login")</li>
        }
    </ul>
</nav>