﻿@model WebApplication1.Entidade.Movimentacao

@{
    ViewBag.Title = "Formulário";
}
<br />
@Html.ActionLink("Todas as Movimentações", "Index", "Movimentacao", new { @class = "btn btn-primary"})
<br />
<br />

@using(Html.BeginForm("Adicionar", "Movimentacao", FormMethod.Post))
{
    <p>Adicionar Movimentação</p>

    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Valor, "Valor:")
    @Html.TextBoxFor(m => m.Valor, new  { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Valor)

    @Html.LabelFor(m => m.Data, "Data:")
    @Html.TextBoxFor(m => m.Data, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Data)

    @Html.LabelFor(m => m.Tipo, "Tipo:")
    @Html.EnumDropDownListFor( m => m.Tipo, "Selecione o Tipo", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Tipo)

    @Html.LabelFor(m => m.UsuarioId, "Categoria:")
    @Html.DropDownListFor(m => m.UsuarioId, new SelectList(ViewBag.Usuarios, "Id", "Nome"), new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.UsuarioId)

    <input type="submit" value="Cadastrar" />
}