﻿@model  IList<WebApplication1.Entidade.Movimentacao>

@{
    ViewBag.Title = "Movimentação";
}

<br />
@Html.ActionLink("Adicionar", "Form", "Movimentacao", new { @class = "btn btn-primary"})
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <td>Valor</td>
            <td>Data</td>
            <td>Tipo</td>
            <td>Usuário</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var movimentacao in Model)
        {
            <tr>
                <td>@movimentacao.Valor.ToString("C")</td>
                <td>@movimentacao.Data.ToString("dd/MM/yyyy")</td>
                <td>@movimentacao.Tipo</td>
                <td>@movimentacao.Usuario.Nome</td>
            </tr>
        }
    </tbody>
</table>

