﻿
@{
    ViewBag.Title = "Index";
}
@Html.ValidationMessage("Login.Erro")

<form action="/Login/Logar" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" class="form-control" />
    </div>
    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Logar</button>
</form>

